.App {
  text-align: center;
}

.App-photo {
  height: 20vmin;
  pointer-events: none;
}

p{
  color: red
}

div{
  color: blueviolet;
}

button{
  font-size: 20px;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-MyPhoto { 
    animation: App-photo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b8e9ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
